@import "tailwindcss";

body { font-family: 'Inter', sans-serif; }

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #c5c5c5; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #25D366; }